@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;700;900&display=swap");

@import "./pallette.scss";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$font-size-base: 18px;

$font-family-base: "Source Sans Pro", sans-serif;
$link-decoration: none;

$headings-font-weight: 300;

@import "../../node_modules/bootstrap/scss/bootstrap";
